body {
    font-family: Frutiger;
    margin: 0;
}

svg {
    overflow: inherit;
    width: 100%;
}

#layOut {
    display: grid;
    grid-template-columns: 70% 30%;
    border-bottom: 3px solid #003b51;
}

.legHeaderContainer {
    border-bottom: 1.5px solid #003b51;
}
.legHeaderContainer h1 {
    text-align: center;
    margin: 0.5em 0;
}

.sidebar {
    grid-column: 2;
    background: red;
    height: 67em;
    padding: 3em;
}

.legenda {
    width: 100%
}


.declare {
    margin-left: 0.5em;
    width: 8em;
    min-width: fit-content;
    height: 4em;
    /*line-height: 4;*/
    font-weight: 500;
}

.legContainer {
    display: grid;
    grid-template-columns: 32% 68%;
    margin: 1em 0;
}

.objectLegenda {
    margin: 3em 0 1em 1em;
    font-size: 1.2em;
    font-weight: 500;
}

.legBlock {
    margin: auto;
}

.declare {
    height: fit-content;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
}

.leg1 {
    width: 0.7em;
    height: 0.7em;
    border-radius: 100px;
    border: 1px solid #000000;
    background: #60d5c3;
}
.leg2 {
    width: 1.1em;
    height: 1.1em;
    border-radius: 100px;
    border: 1px solid #000000;
    background: #46b9b6;
}
.leg3 {
    width: 2.3em;
    height: 2.3em;
    border-radius: 100px;
    border: 1px solid #000000;
    background: #2794a8;
}
.leg4 {
    width: 3.3em;
    height: 3.3em;
    border-radius: 100px;
    border: 1px solid #000000;
    background: #0e6e8a;
}
.leg5 {
    width: 4.5em;
    height: 4.5em;
    border-radius: 100px;
    border: 1px solid #000000;
    background: #003b51;
}

.leg6 {
    background: orange;
    width: 3em;
    height: 3em;
    border-radius: 100px;
}



div.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    pointer-events: none;
}
header {
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 3px solid #003b51;
}
.logoContainer {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
}

.logo {
    height: 6em;
}

.sidebarRight {
    border-left: 3px solid #003b51;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttonHolder {
    background-color: #003b51;
    margin-top: 1em;
    padding: 3em 0;
    border-top: 3px solid #003b51;
}

.title {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 1em 0;
}
.subTitle {
    margin-top: 0.5em;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 400;
}

#reset{
    display: block;
    margin: 0 auto;
    padding: 1em 2em;
    border: 0.1em solid #003b51;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1em;
    transition: 0.15s;

}
#reset:hover{
    cursor: pointer;
    background-color: red;
    color: #ffffff;
}